{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "semi": 1,
    "object-curly-spacing": 1,
    "no-unused-vars": 1,
    "comma-dangle": 1,
    "no-param-reassign": 0,
    "react/prefer-stateless-function": 0
  }
}
